{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Home Page</h1>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dignissimos error ex, fuga harum perspiciatis
  veniam voluptatum! Ad dicta impedit repudiandae vel vero? Autem deleniti iste mollitia quidem suscipit totam.
</div>
<div>Accusamus, ad adipisci aperiam cumque cupiditate debitis delectus deserunt, distinctio dolore doloribus ducimus est
  ipsam iure laboriosam laborum magni nesciunt perspiciatis quas quisquam reiciendis sequi suscipit tempora temporibus,
  voluptatem voluptatibus.
</div>
<div>Asperiores autem consectetur consequuntur dignissimos, dolor dolore dolorem eos excepturi fuga illum incidunt minus
  molestiae nihil nisi odit, placeat possimus quae quasi qui quibusdam quisquam rem soluta vero vitae voluptatibus?
</div>
<div>Aliquam, consectetur, dolores labore molestiae molestias odit perspiciatis quibusdam quod repellendus sapiente
  ullam voluptatibus? Aspernatur atque autem consequuntur delectus eaque, et minus, nemo nihil nisi qui quo sint totam
  vel!
</div>
<div>Animi, consequatur corporis debitis doloribus eaque eius eos explicabo facere inventore minima nam natus nulla
  placeat quis quo repellat sequi sint sunt totam ullam vel veniam veritatis vero vitae voluptate!
</div>
{% endblock content %}
